.card {
  container-type: inline-size;
  width: 100%;
}

.cardContainer {
  display: flex;
  width: 100%;
}

.imageContainer {
  width: 25%;
}

.imageContainer img {
  width: 100%;
  height: auto;
}

.infoContainer {
  padding-left: 1rem;
}

.title {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 1rem;
}

.price {
  font-size: 1rem;
  margin-top: 1rem;
  font-style: italic;
}

@container (max-width: 450px) {
  .cardContainer {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
  }

  .imageContainer img {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  .infoContainer {
    width: 100%;
    border-bottom: 1px solid #666;
    border-top: none;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

@container (min-width: 450px) {
  .imageContainer img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .infoContainer {
    width: 75%;
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
